@charset "UTF-8";
.card        {
	
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;
    margin-top: 0px;
    margin-right: 0px;
    min-height: 100%;
}

:root {
--gap: 16px;
}

body {
    font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
    margin: 24px;
    background: #111;
}

h1 {
  margin: 0 0 12px;
  font-size: 20px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit,min(350px,(1fr));
    gap: var(--gap);
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    margin-top: 9px;
    margin-right: 9px;
    background-color: #CCA1C9;
    max-width: 36%;
    width: 26em;
}

.card {
    padding: 8px;
    background: #0f0f0f;
    border-radius: 8px;
    border:3px 
    border: 1px solid #222;
    height: 22em;
    width: auto;
}

.frame {
    height: 100%;
    border: 0;
    background: #000;
    padding-bottom: 0%;
    width: auto;
}
p   {
    color: #F60098;
    font-size: 82px;
    height: 63%;
    font-style: normal;
}
