@charset "UTF-8";

:root {
--gap: 16px;
}

body {
    font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
    margin-top: 24px;
    margin-right: 24px;
    margin-left: 73px;
    margin-bottom: 24px;
    background-color: #FFFFFF;
    height: auto;
}

h1 {
  margin: 0 0 12px;
  font-size: 20px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit,min(350px,(1fr));
    gap: var(--gap);
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    margin-top: 47px;
    margin-right: 9px;
    background-color: #000000;
}

.frame {
    padding-bottom: 0%;
    width: auto;
    min-height: 390px;
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;
    height: auto;
}
p   {
    color: #FEFFD9;
    font-size: 80px;
    font-style: normal;
    height: auto;
}
.footer {
    color: #FFFFFF;
    /* [disabled]top: 275px; */
    font-size: 42px;
    background-color: #4D0001;
    text-align: center;
    clear: both;
    overflow-x: scroll;
}
h1 {
    color: #A23A87;
}
.grid section {
    min-height: 400px;
    width: 100%;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}
